<div class="sidebar">
    <h2>Sportswear <br> Dashboard</h2>
    <ul>
        <li><a href="/dashboard">TRAER</a></li>
        <li><a href="/dashboard/consultar">TRAER POR ID</a></li>
        <li><a href="/dashboard/crear">CREAR</a></li>
        <li><a href="/dashboard/actualizar">MODIFICAR</a></li>
        <li><a href="/dashboard/eliminar">ELIMINAR</a></li>
        <li><a href="/api/productos">API</a></li>
    </ul>
</div>